@import url('https://fonts.googleapis.com/css?family=Oswald');

html{
    margin: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    background: #34495D;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    overflow-x: hidden;
}

.title{
    text-align: center;
}

#container {
    position: relative;
    width: 1200px;
    height: 1200px;
    color: green;
    margin:0 auto;
  }
  